export("aa", "aa_split", "calculateIsoelectricPoint", "dpH", "num", "num_missing", "num_missing_vec", "pH", "pH_prev", "pI",
       "pKa", "residues", "seq", "sum_C", "sum_COOH", "sum_D", "sum_E", "sum_H", "sum_K", "sum_neg", "sum_NH2", "sum_pos",
       "sum_R", "sum_Y")
